.header {
  @apply pt-6 items-center
  absolute w-full top-0 left-0
  lg:px-28;
}
.header.active {
  @apply bg-[rgba(0,0,0,0.5)] fixed top-0 h-full z-[9] 
  lg:bg-transparent lg:h-min;
}
.header.active .navigator--containner {
  @apply flex;
}
.nav {
  @apply flex  items-center flex-col w-full 
  lg:flex-row;
}
.containner--nav {
  @apply flex gap-5 font-light text-sm flex-col mt-4 overflow-auto 
  lg:flex-row lg:m-0 lg:overflow-visible;
}
.containner--link:last-child {
  @apply border-none;
}
.navigator--containner {
  @apply pt-32 hidden justify-end  z-10  flex-col-reverse absolute  bg-yellow-600 w-80 top-0 left-0 h-screen p-3 
  lg:flex-row lg:static lg:justify-between lg:w-full lg:bg-transparent lg:p-0 lg:h-min lg:flex;
}
.link {
  @apply text-white hover:text-yellow-400 flex items-center gap-1;
}
.input {
  @apply rounded-full px-3 py-2 pr-8 w-full text-sm text-white bg-opacity-black  border border-yellow-600  focus:outline focus:outline-1 focus:outline-yellow-200 placeholder:text-gray-100 placeholder:font-extralight placeholder:text-sm
  lg:w-48 lg:focus:w-56;
}
.containner--link {
  @apply relative p-1  border border-t-0 border-l-0 border-r-0 border-[rgba(255,255,255,0.4)]
  lg:border-none;
}
.containner--link:hover > div {
  @apply scale-100;
}
.btn--click {
  @apply rounded-full bg-yellow-500  text-xl text-white p-2
  lg:hidden sm:p-4;
}
